.login_div1 , .login_div2 {
    background: white;
    padding: 10px;
    float: none;
    border-radius: 15px;
    margin: 20px;
}

#h1_1, #h1_2 {
    color: darkgreen;
    font-weight: bold;
}

#player1_name, #player2_name {
    display: inline-block;
	
} 

#player1_score, #player2_score {
    font-size: 18px;
}

#number_1, #number_2 {
    width: 60%;
}

#output
{
background: white;
border-radius: 10px;
border-top: 10px solid rgb(0, 54, 0);
padding: 10px;
float: none;
text-align: left;
}